.gradient-top-line{
  background: linear-gradient(90.42deg,#FF3535 ,#6691FF , #FF3535, #6691FF);
  animation: gradient 10s ease infinite;
  background-size: 200% 200%;
  height: 15px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1023px) {
  .gradient-top-line{

    height: 12px;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
