<div class="navbar">
  <div class="navbar-container">
    <div class="navbar-container-base">
      <div class="navbar-container-base-title">
        <img [src]=""/>
        <p>{{AppName}}</p>
      </div>
      <div class="navbar-container-base-items">
        <div class="navbar-container-base-items-item">
          <img [src]=""/>
          <p>{{Dashboard}}</p>
        </div>
        <div class="navbar-container-base-items-item">
          <img [src]=""/>
          <p>{{Dashboard}}</p>
        </div>
        <div class="navbar-container-base-items-item">
          <img [src]=""/>
          <p>{{Dashboard}}</p>
        </div>
        <div class="navbar-container-base-items-item">
          <img [src]=""/>
          <p>{{Dashboard}}</p>
        </div>
        <div class="navbar-container-base-items-item">
          <img [src]=""/>
          <p>{{Dashboard}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
