<app-ledbar class="desktop-ledbar"></app-ledbar>

<div class="brightmoon">
  <div class="brightmoon_container">
    <app-navbar class="brightmoon_nav"></app-navbar>
    <app-mobilenav></app-mobilenav>
    <div class="brightmoon_container_base">
      <!--      <app-addproduct  ></app-addproduct>-->
      <div class="brightmoon_container_base_title">
        <h1 class="brightmoon_container_base_title_text">Promotions</h1>
      </div>
      <div class="brightmoon_container_base_recent">
        <div class="brightmoon_container_base_recent_title">
          <p class="brightmoon_container_base_recent_title_text">
            Reedem Code
          </p>
        </div>
        <div class="brightmoon_container_base_recent_block h-75">
          <table class="brightmoon_container_base_recent_block_table">
            <tbody class="brightmoon_container_base_recent_block_table_body">
            <tr class="brightmoon_container_base_recent_block_table_body_nav">
              <th
                class="brightmoon_container_base_recent_block_table_body_nav_item"
              >
                Name
              </th>
              <th
                class="brightmoon_container_base_recent_block_table_body_nav_item"
              >
                Code
              </th>
              <th
                class="brightmoon_container_base_recent_block_table_body_nav_item"
              >
                Value
              </th>
              <th
                class="brightmoon_container_base_recent_block_table_body_nav_item"
              >
                Time
              </th>
              <th
                class="brightmoon_container_base_recent_block_table_body_nav_item"
              >
                Action
              </th>
            </tr>
            <tr class="brightmoon_container_base_recent_block_table_body_row">
              <td
                class="brightmoon_container_base_recent_block_table_body_row_item"
              ></td>
              <td
                class="brightmoon_container_base_recent_block_table_body_row_item"
              ></td>
              <td
                class="brightmoon_container_base_recent_block_table_body_row_item"
              ></td>
              <td
                class="brightmoon_container_base_recent_block_table_body_row_item"
              ></td>
              <td
                class="brightmoon_container_base_recent_block_table_body_row_item"
              >
                <button class="btn btn-outline-danger">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="brightmoon_container_base_recent">
        <div class="brightmoon_container_base_recent_title">
          <p class="brightmoon_container_base_recent_title_text">
            Promotion Code
          </p>
        </div>
        <div class="brightmoon_container_base_recent_block">
          <table class="brightmoon_container_base_recent_block_table">
            <tbody class="brightmoon_container_base_recent_block_table_body">
              <tr class="brightmoon_container_base_recent_block_table_body_nav">
                <th
                  class="brightmoon_container_base_recent_block_table_body_nav_item"
                >
                  Name
                </th>
                <th
                  class="brightmoon_container_base_recent_block_table_body_nav_item"
                >
                  Code
                </th>
                <th
                  class="brightmoon_container_base_recent_block_table_body_nav_item"
                >
                  Value
                </th>
                <th
                  class="brightmoon_container_base_recent_block_table_body_nav_item"
                >
                  Time
                </th>
                <th
                  class="brightmoon_container_base_recent_block_table_body_nav_item"
                >
                  Action
                </th>
              </tr>
              <tr class="brightmoon_container_base_recent_block_table_body_row">
                <td
                  class="brightmoon_container_base_recent_block_table_body_row_item"
                ></td>
                <td
                  class="brightmoon_container_base_recent_block_table_body_row_item"
                ></td>
                <td
                  class="brightmoon_container_base_recent_block_table_body_row_item"
                ></td>
                <td
                  class="brightmoon_container_base_recent_block_table_body_row_item"
                ></td>
                <td
                  class="brightmoon_container_base_recent_block_table_body_row_item"
                >
                  <button class="btn btn-outline-danger">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="brightmoon_container_base_updates">
      <div class="brightmoon_container_base_updates_title">
        <p class="brightmoon_container_base_updates_title_text">
          Online Clients
        </p>
      </div>
      <div class="brightmoon_container_base_updates_block"></div>
      <div class="brightmoon_container_base_analitycs">
        <div class="brightmoon_container_base_analitycs_title">
          <p class="brightmoon_container_base_analitycs_title_text">New Code</p>
        </div>
      </div>
    </div>
  </div>
</div>
