<app-ledbar class="desktop-ledbar"></app-ledbar>

<div class="dashboard">



  <div class="dashboard_container" >
    <app-navbar class="desktop_nav"></app-navbar>
    <app-mobilenav></app-mobilenav>
    <div class="dashboard_container_base">
      <app-addproduct  ></app-addproduct>
      <div class="dashboard_container_base_title">
        <h1 class="dashboard_container_base_title_text">

        </h1>
      </div>
      <div class="dashboard_container_base_salesinfo">
        <div class="dashboard_container_base_salesinfo_block">
          <img class="dashboard_container_base_salesinfo_block_icon"  />
          <p class="dashboard_container_base_salesinfo_block_text">

          </p>
          <p class="dashboard_container_base_salesinfo_block_text">

          </p>
          <div class="dashboard_container_base_salesinfo_block_chart">
            <p class="dashboard_container_base_salesinfo_block_chart_text">90%</p>
          </div>
        </div>
        <div class="dashboard_container_base_salesinfo_block">
          <img class="dashboard_container_base_salesinfo_block_icon" />
          <p class="dashboard_container_base_salesinfo_block_text">

          </p>
          <p class="dashboard_container_base_salesinfo_block_text">

          </p>
          <div class="dashboard_container_base_salesinfo_block_chart"><p class="dashboard_container_base_salesinfo_block_chart_text">90%</p></div>
        </div>
        <div class="dashboard_container_base_salesinfo_block">
          <img class="dashboard_container_base_salesinfo_block_icon"  />
          <p class="dashboard_container_base_salesinfo_block_text">

          </p>
          <p class="dashboard_container_base_salesinfo_block_text">

          </p>
          <div class="dashboard_container_base_salesinfo_block_chart"><p class="dashboard_container_base_salesinfo_block_chart_text">90%</p></div>
        </div>
      </div>
      <div class="dashboard_container_base_recent">
        <div class="dashboard_container_base_recent_title">
          <p class="dashboard_container_base_recent_title_text">
            Recent Products
          </p>
        </div>
        <div class="dashboard_container_base_recent_block">
          <table class="dashboard_container_base_recent_block_table">
            <tbody class="dashboard_container_base_recent_block_table_body">
            <tr class="dashboard_container_base_recent_block_table_body_nav">
              <th
                class="dashboard_container_base_recent_block_table_body_nav_item"
              >
                Product Name
              </th>
              <th
                class="dashboard_container_base_recent_block_table_body_nav_item"
              >
                Number
              </th>
              <th
                class="dashboard_container_base_recent_block_table_body_nav_item"
              >
                Payment
              </th>
              <th
                class="dashboard_container_base_recent_block_table_body_nav_item"
              >
                Status
              </th>
              <th
                class="dashboard_container_base_recent_block_table_body_nav_item"
              >
                Action
              </th>
            </tr>
            <tr class="dashboard_container_base_recent_block_table_body_row" >
              <td
                class="dashboard_container_base_recent_block_table_body_row_item"

              >

              </td>
              <td
                class="dashboard_container_base_recent_block_table_body_row_item"
              >

              </td>
              <td
                class="dashboard_container_base_recent_block_table_body_row_item"
              >

              </td>
              <td
                class="dashboard_container_base_recent_block_table_body_row_item"
              >

              </td>
              <td
                class="dashboard_container_base_recent_block_table_body_row_item"
              >
                <button class="btn btn-outline-danger">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="dashboard_container_base_updates">
      <div class="dashboard_container_base_updates_title">
        <p class="dashboard_container_base_updates_title_text">

        </p>
      </div>
      <div class="dashboard_container_base_updates_block">
        <app-updates></app-updates>
      </div>
      <div class="dashboard_container_base_analitycs">
        <div class="dashboard_container_base_analitycs_title">
          <p class="dashboard_container_base_analitycs_title_text">

          </p>
        </div>
        <app-analitycs></app-analitycs>
        <div class="dashboard_container_base_analitycs_add">
          <img class="dashboard_container_base_analitycs_add_icon" />
          <p class="dashboard_container_base_analitycs_add_text" > AddProduct</p>

        </div>
      </div>
    </div>
  </div>
</div>
