<div class="modal" >
  <div class="modal_container">
    <div class="modal_container_base">
      <div class="modal_container_base_close">
        <img
          [src]="close"
          (click)="modal.showClients = false"
          class="modal_container_base_close_image"
        />
      </div>
      <div class="modal_container_base_title">
        <h3 class="text-muted">ADD Client</h3>
      </div>
      <div class="modal_container_base_items">
        <input
          class="modal_container_base_items_item"
          type="text"
          placeholder="Name"
          [(ngModel)]="name"
        />
        <input
          class="modal_container_base_items_item"
          type="text"
          placeholder="Surname"
          [(ngModel)]="surname"
        />
        <input
          class="modal_container_base_items_item"
          type="text"
          placeholder="Email"
          [(ngModel)]="email"
        />
        <input
          class="modal_container_base_items_item"
          type="text"
          placeholder="Number"
          [(ngModel)]="tel"
        />
      </div>
      <div class="modal_container_base_button">
        <button class="btn btn-outline-danger" (click)="addClient()">ADD</button>
      </div>
    </div>
  </div>
</div>
