<div class="modal container">
  <div class="modal_container ">
    <div class="modal_container_base">
      <div class="modal_container_base_button">
        <button class="btn btn-warning" (click)="modal.showDialog = false">
          CLOSE
        </button>
      </div>
      <div class="modal_container_base_title">
        <h3 class="text-muted">ADD PRODUCT</h3>
      </div>
      <div class="modal_container_base_items">
        <input
          class="modal_container_base_items_item"
          type="text"
          placeholder="ProductName"
        />
        <input
          class="modal_container_base_items_item"
          type="text"
          placeholder="ProductName"
        />
        <input
          class="modal_container_base_items_item"
          type="text"
          placeholder="ProductName"
        />
        <input
          class="modal_container_base_items_item"
          type="text"
          placeholder="ProductName"
        />
      </div>
      <div class="modal_container_base_button">
        <button class="btn btn-outline-danger">ADD</button>
      </div>
    </div>
  </div>
</div>
