<div class="modal">
  <div class="modal_container">
    <div class="modal_container_base">
      <div class="modal_container_base_close">
        <img
          [src]="close"
          (click)="modal.showDialog = false"
          class="modal_container_base_close_image"
        />
      </div>
      <div class="modal_container_base_title">
        <h3 class="text-muted">ADD PRODUCT</h3>
      </div>
      <div class="modal_container_base_items">
        <input
          class="modal_container_base_items_item"
          type="text"
          [(ngModel)]="ProductName"
          placeholder="ProductName"
        />
        <input
          class="modal_container_base_items_item"
          type="text"
          placeholder="ProductNumber"
          [(ngModel)]="ProductNumber"
        />
        <input
          class="modal_container_base_items_item"
          type="text"
          placeholder="ProductStatus"
          [(ngModel)]="ProductStatus"
        />
        <input
          class="modal_container_base_items_item"
          type="text"
          placeholder="ProductPayment"
          [(ngModel)]="ProductPayment"
        />
      </div>
      <div class="modal_container_base_button">
        <button class="modal_container_base_button_button" (click)="addProduct()">ADD</button>
      </div>
    </div>
  </div>
</div>
