<div class="updates_block_element">
  <div class="updates_block_element_image">
    <img class="updates_block_element_image_img" [src]="" />
  </div>
  <div class="updates_block_element_text">
    <div class="updates_block_element_text_user">
      <h1 class="updates_block_element_text_user_name">Alexandr Luke</h1>
      <p class="updates_block_element_text_user_information">
        received his order of Macbook
      </p>
    </div>
    <div class="updates_block_element_text_time">
      <p class="updates_block_element_text_time_text">2 minutes ago.</p>
    </div>
  </div>
</div>
<div class="updates_block_element">
  <div class="updates_block_element_image">
    <img class="updates_block_element_image_img" [src]="" />
  </div>
  <div class="updates_block_element_text">
    <div class="updates_block_element_text_user">
      <h1 class="updates_block_element_text_user_name">Alexandr Luke</h1>
      <p class="updates_block_element_text_user_information">
        received his order of Macbook
      </p>
    </div>
    <div class="updates_block_element_text_time">
      <p class="updates_block_element_text_time_text">2 minutes ago.</p>
    </div>
  </div>
</div>
<div class="updates_block_element">
  <div class="updates_block_element_image">
    <img class="updates_block_element_image_img" [src]="" />
  </div>
  <div class="updates_block_element_text">
    <div class="updates_block_element_text_user">
      <h1 class="updates_block_element_text_user_name">Alexandr Luke</h1>
      <p class="updates_block_element_text_user_information">
        received his order of Macbook
      </p>
    </div>
    <div class="updates_block_element_text_time">
      <p class="updates_block_element_text_time_text">2 minutes ago.</p>
    </div>
  </div>
</div>
