<div class="dashboard-container-base-updates-block-element">
  <div class="dashboard-container-base-updates-block-element-image">
    <img [src]=""/>
  </div>
  <div class="dashboard-container-base-updates-block-element-text">
    <p>Alexandr Luke</p><p>received his order of Macbook</p>
    <p>2 minutes ago.</p>
  </div>
</div>
<div class="dashboard-container-base-updates-block-element">
  <div class="dashboard-container-base-updates-block-element-image">
    <img [src]=""/>
  </div>
  <div class="dashboard-container-base-updates-block-element-text">
    <p>Alexandr Luke</p><p>received his order of Macbook</p>
    <p>2 minutes ago.</p>
  </div>
</div>
<div class="dashboard-container-base-updates-block-element">
  <div class="dashboard-container-base-updates-block-element-image">
    <img [src]=""/>
  </div>
  <div class="dashboard-container-base-updates-block-element-text">
    <p>Alexandr Luke</p><p>received his order of Macbook</p>
    <p>2 minutes ago.</p>
  </div>
</div>
