<div class="updates">
  <div class="updates_image">
    <img class="updates_image_img" [src]="customer" />
  </div>
  <div class="updates_text">
    <div class="updates_text_user">
      <h1 class="updates_text_user_name">Alexandr Luke</h1>
      <p class="updates_text_user_information">
        received his order of Macbook
      </p>
    </div>
    <div class="updates_text_time">
      <p class="updates_text_time_text">2 minutes ago.</p>
    </div>
  </div>
</div>
<div class="updates">
  <div class="updates_image">
    <img class="updates_image_img" [src]="customer" />
  </div>
  <div class="updates_text">
    <div class="updates_text_user">
      <h1 class="updates_text_user_name">Alexandr Luke</h1>
      <p class="updates_text_user_information">
        received his order of Macbook
      </p>
    </div>
    <div class="updates_text_time">
      <p class="updates_text_time_text">2 minutes ago.</p>
    </div>
  </div>
</div>
<div class="updates">
  <div class="updates_image">
    <img class="updates_image_img" [src]="customer" />
  </div>
  <div class="updates_text">
    <div class="updates_text_user">
      <h1 class="updates_text_user_name">Alexandr Luke</h1>
      <p class="updates_text_user_information">
        received his order of Macbook
      </p>
    </div>
    <div class="updates_text_time">
      <p class="updates_text_time_text">2 minutes ago.</p>
    </div>
  </div>
</div>
