@media screen and (min-width: 1601px) {
  .dashboard {
    height: auto;
    &_container {
      height: 100%;
      width: 100%;
      display: flex;
      min-height: 98.5vh;
      max-height: 100vh;
      justify-content: space-between;
      background-color: #19191f;
      flex: auto;
      flex-grow: 1;
      &_base {
        display: flex;
        flex-direction: column;
        &_title {
          padding-bottom: 10px;
          align-items: center;
          justify-content: flex-start;
          display: flex;
          &_text {
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 58px;
            color: #ffffff;
          }
        }
        &_salesinfo {
          margin-left: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &_block {
            background: #212429;

            border-radius: 27px;
            min-width: 250px;
            width: 100%;
            max-width: 250px;
            height: 221px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            &_icon {
              margin-bottom: 20px;
            }
            &_text {
              font-style: normal;
              font-weight: 700;
              font-size: 15px;
              line-height: 18px;
              color: #ffffff;
            }
            &_chart {
              font-style: normal;
              font-weight: 300;
              font-size: 15px;
              line-height: 18px;
              border-radius: 100%;
              width: 70px;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 70px;
              background: linear-gradient(
                  146.38deg,
                  #fe3535 -17.66%,
                  #6690fe 80.03%
              );

              color: #ffffff;
              p {
                margin: 0;
              }
            }
          }
        }
        &_recent {
          margin-top: 50px;
          margin-left: 20px;
          &_title {
            &_text {
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 29px;
              height: 10px;
              color: #ffffff;
            }
          }
          &_block {
            background: #212429;
            border-radius: 27px;
            min-width: 887px;
            margin-top: 60px;
            max-width: 887px;
            width: 100%;
            height: 347px;
            padding: 0px;
            &_table {
              display: flex;
              justify-content: center;
              align-items: center;
              &_body {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                &_nav {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  &_item {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    margin-left: 25px;
                    margin-right: 25px;
                    color: #ffffff;
                  }
                }
                &_row {
                  display: flex;
                  justify-content: center;
                  text-align: center;
                  align-items: center;
                  &_item {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 20px;
                    margin-left: 40px;
                    margin-right: 40px;
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }
        &_updates {
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          align-items: flex-start;
          margin-right: 20px;
          &_title {
            margin-top: 10px;
            &_text {
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 29px;

              color: #ffffff;
            }
          }
          &_block {
            background: #212429;
            border-radius: 27px;
            max-width: 391px;
            min-width: 391px;
            height: 306px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        &_analitycs {
          &_title {
            &_text {
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 29px;

              color: #ffffff;
            }
          }
          &_add {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 27px;
            margin-bottom: 20px;
            max-width: 391px;
            min-width: 381px;
            border: 3px dashed #3a3a3a;
            height: 85px;
            cursor: pointer;
            p{
              margin: 0;
            }
            &_icon {
              margin-right: 10px;
            }
            &_text {
              font-style: normal;
              font-weight: 300;
              font-size: 20px;
              line-height: 24px;
              color: #e64355;
              margin-left: 20px;
            }
          }
          &_add:hover{
            background: #3a3a3a;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) and (max-width: 1600px) {
  .dashboard {
    display: flex;
    justify-content: center;
    align-items: center;

    &_container {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #19191f;
      &_base {
        display: flex;
        flex-direction: column;
        &_title {
          height: 100%;
          max-height: 500px;
          min-height: 220px;
          align-items: center;
          justify-content: center;
          display: flex;
          &_text {
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 58px;
            color: #ffffff;
          }
        }
        &_salesinfo {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          &_block {
            background: #212429;
            margin-right: 20px;

            border-radius: 27px;
            min-width: 300px;
            width: 100%;
            max-width: 200px;
            height: 221px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            &_icon {
            }
            &_text {
              font-style: normal;
              font-weight: 700;
              font-size: 15px;
              line-height: 18px;
              color: #ffffff;
            }
            &_chart {
              font-style: normal;
              font-weight: 300;
              font-size: 15px;
              line-height: 18px;
              border-radius: 100%;
              width: 70px;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 70px;
              background: linear-gradient(
                  146.38deg,
                  #fe3535 -17.66%,
                  #6690fe 80.03%
              );

              color: #ffffff;
              p {
                margin: 0;
              }
            }
          }
        }
        &_recent {
          margin-top: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          &_title {
            &_text {
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 29px;

              color: #ffffff;
            }
          }
          &_block {
            background: #212429;
            border-radius: 27px;
            min-width: 787px;
            margin-top: 60px;
            max-width: 787px;
            width: 100%;
            height: 347px;
            padding: 0px;
            &_table {
              display: flex;
              justify-content: center;
              align-items: center;
              &_body {
                &_nav {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  &_item {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    margin-left: 25px;
                    margin-right: 25px;
                    color: #ffffff;
                  }
                }
                &_row {
                  display: flex;
                  justify-content: center;
                  text-align: center;
                  align-items: center;
                  &_item {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 20px;
                    margin-left: 40px;
                    margin-right: 40px;
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }
        &_updates {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          &_title {
            &_text {
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 29px;

              color: #ffffff;
            }
          }
          &_block {
            background: #212429;
            border-radius: 27px;
            max-width: 391px;
            min-width: 391px;
            height: 306px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        &_analitycs {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          &_title {
            &_text {
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 29px;

              color: #ffffff;
            }
          }
          &_add {
            display: flex;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            border-radius: 27px;
            margin-bottom: 20px;
            max-width: 391px;
            min-width: 381px;
            border: 3px dashed #3a3a3a;
            height: 85px;
            cursor: pointer;
            p{
              margin: 0;
            }
            &_icon {
              margin-right: 10px;
            }
            &_text {
              font-style: normal;
              font-weight: 300;
              font-size: 20px;
              line-height: 24px;
              color: #e64355;
              margin-left: 20px;
            }
          }
          &_add:hover{
            background: #3a3a3a;
          }

        }
      }
    }
  }
  .desktop-ledbar {
    display: none;
  }
  .desktop_nav {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .dashboard {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
    &_container {
      color: white;
      background: #19191f;
      width: 100%;
      &_base {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &_title {
          padding: 70px;
          height: 30px;
          &_text {
          }
        }
        &_salesinfo {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          &_block {
            background: #212429;
            border-radius: 27px;
            width: 100%;

            min-width: 300px;
            height: 200px;
            max-width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 20px;

            &_icon {
              margin-bottom: 7px;
            }
            &_text {
            }
            &_chart {
              font-style: normal;
              font-weight: 300;
              font-size: 15px;
              line-height: 18px;
              border-radius: 100%;
              width: 60px;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 60px;
              background: linear-gradient(
                  146.38deg,
                  #fe3535 -17.66%,
                  #6690fe 80.03%
              );

              color: #ffffff;
              p {
                margin: 0;
              }
            }


          }
        }
        &_recent {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          &_title {
            &_text {
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 29px;

              color: #ffffff;
            }
          }
          &_block {
            background: #212429;
            border-radius: 27px;
            width: 100%;
            min-width: 296px;
            max-width: 296px;
            height: 480px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: center;
            flex-direction: column;
            &_table {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              &_body {
                display: flex;
                justify-content: space-evenly;

                align-items: center;
                &_nav {
                  p{
                    margin: 0!important;
                  }
                  display: flex;
                  justify-content: center;
                  flex-direction: column;
                  align-items: center;
                  font-style: normal;
                  font-weight: 700;
                  font-size: 14px;
                  line-height: 17px;
                  color: #ffffff;
                  &_item {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 24px;
                    margin-top: 25px;
                    margin-bottom: 25px;
                    margin-left: 20px;
                    margin-right: 20px;
                    color: #ffffff;
                  }
                }
                &_row {
                  display: flex;
                  justify-content: center;
                  flex-direction: column;
                  align-items: center;
                  font-style: normal;
                  font-weight: 300;
                  font-size: 15px;
                  line-height: 18px;
                  color: #ffffff;
                  &_item {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 15px;
                    margin-top: 25px;
                    margin-bottom: 25px;
                    margin-left: 20px;
                    margin-right: 20px;

                    color: #ffffff;
                  }
                }
              }
            }
          }
        }
        &_updates {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          &_title {
            &_text {
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 29px;

              color: #ffffff;
            }
          }
          &_block {
            background: #212429;
            border-radius: 27px;
            height: 300px;
            width: 100%;
            max-width: 300px;
            min-width: 300px;
          }
        }
        &_analitycs {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          &_title {
            &_text {
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 29px;

              color: #ffffff;
            }
          }
          &_add {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 27px;
            margin-bottom: 20px;
            max-width: 300px;
            min-width: 300px;
            border: 3px dashed #3a3a3a;
            height: 80px;
            cursor: pointer;
            p{
              margin: 0;
            }
            &_icon {
              margin-right: 10px;
            }
            &_text {
              font-style: normal;
              font-weight: 300;
              font-size: 20px;
              line-height: 24px;
              color: #e64355;
              margin-left: 20px;
            }
          }

        }
      }
    }
  }
  .desktop-ledbar {
    display: none;
  }
}
