<div class="component">
  <div class="component_container">
    <div class="component_container_big_circle"></div>
    <div class="component_container_small_circle"></div>
    <div class="component_container_logotype">
      <div class="component_container_logotype_logo">
        <img [src]="logo" class="component_container_logotype_logo_logo" />
      </div>
      <div class="component_container_logotype_title_title">
        <h5 class="component_container_logotype_title">BRIGHTMOON</h5>
      </div>

    </div>
    <div class="component_container_base">
      <div class="component_container_base_form">
        <div class="component_container_base_form_title">
          <p class="component_container_base_form_title_text">FORGOT PASSWORD</p>
        </div>
        <div class="component_container_base_form_inputs" >
          <input type="email" class="component_container_base_form_inputs_input" placeholder="Email" [(ngModel)]="email" />

        </div>
        <div class="component_container_base_form_button">
          <button class="component_container_base_form_button_button" (click)="forgotPassword()">Send Link</button>
        </div>

        <div class="col-6 d-flex justify-content-center align-items-center m-2">
          <a href="/login" style="text-decoration: none; color: rgba(206, 81, 116, 0.59); ">Back to login</a>
        </div>
      </div>
    </div>
  </div>
</div>



