.analitycs_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: #212429;
  border-radius: 27px;
  margin-bottom: 20px;
  max-width: 391px;
  min-width: 391px;
  &_image {
    width: 50%;
  }
  &_text {
    width: 100%;
    &_time {
      font-size: 15px;
      font-weight: 400;
    }
  }
  &_percent {
    width: 40%;
    color: #5affb0;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
  }
  &_number {
    width: 30%;
  }
}
