@media screen and (min-width: 1024px) {
  .analitycs_block {
    height: 80px !important;
    max-width: 391px !important;
    min-width: 391px !important;
    &_image {
    }
    &_text {
      font-style: normal !important;
      font-weight: 700 !important;
      font-size: 16px !important;
      line-height: 19px !important;
      color: #ffffff !important;
      min-width: 150px !important;
      max-width: 150px !important;
      &_time {
        font-style: normal !important;
        line-height: 18px !important;

        color: rgba(255, 255, 255, 0.67) !important;
      }
    }
    &_percent {
    }
    &_number {
      color: #ffffff !important;
      margin: 0 !important;
    }
  }
}

.analitycs_block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background: #212429;
  border-radius: 27px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
  height: 80px;
  min-width: 300px;
  p {
    margin: 0;
  }
  &_image {
    width: 50%;
    margin-left: 20px;
  }
  &_text {
    width: 100%;
    &_time {
      font-size: 15px;
      font-weight: 400;
    }
  }
  &_percent {
    width: 40%;
    color: #5affb0;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
  }
  &_number {
    width: 30%;
    margin-right: 10px;
  }
}
