
<div class="dashboard-container-base-analitycs-block">
  <div class="dashboard-container-base-analitycs-block-image">
    <img [src]=""/>
  </div>
  <div class="dashboard-container-base-analitycs-block-text">
    <p>Online Orders</p>
    <p>Last 24 Hours</p>
  </div>
  <div class="dashboard-container-base-analitycs-block-percent">
    <p>+21%</p>
  </div>
  <div class="dashboard-container-base-analitycs-block-number">
    <p>2078</p>
  </div>
</div>
<div class="dashboard-container-base-analitycs-block">
  <div class="dashboard-container-base-analitycs-block-image">
    <img [src]=""/>
  </div>
  <div class="dashboard-container-base-analitycs-block-text">
    <p>Online Orders</p>
    <p>Last 24 Hours</p>
  </div>
  <div class="dashboard-container-base-analitycs-block-percent">
    <p>+21%</p>
  </div>
  <div class="dashboard-container-base-analitycs-block-number">
    <p>2078</p>
  </div>
</div>
<div class="dashboard-container-base-analitycs-block">
  <div class="dashboard-container-base-analitycs-block-image">
    <img [src]=""/>
  </div>
  <div class="dashboard-container-base-analitycs-block-text">
    <p>Online Orders</p>
    <p>Last 24 Hours</p>
  </div>
  <div class="dashboard-container-base-analitycs-block-percent">
    <p>+21%</p>
  </div>
  <div class="dashboard-container-base-analitycs-block-number">
    <p>2078</p>
  </div>
</div>
