<div class="analitycs_block">
  <div class="analitycs_block_image">
    <img [src]="" />
  </div>

  <div class="analitycs_block_text">
    <div class="analitycs_block_text_name">
      <p>Online Orders</p>
    </div>
    <div class="analitycs_block_text_time">
      <p>Last 24 Hours</p>
    </div>
  </div>
  <div class="analitycs_block_percent">
    <p>+21%</p>
  </div>
  <div class="analitycs_block_number">
    <p>2078</p>
  </div>
</div>

<div class="analitycs_block">
  <div class="analitycs_block_image">
    <img [src]="" />
  </div>
  <div class="analitycs_block_text">
    <div class="analitycs_block_text_name">
      <p>Online Orders</p>
    </div>
    <div class="analitycs_block_text_time">
      <p>Last 24 Hours</p>
    </div>
  </div>
  <div class="analitycs_block_percent">
    <p>+21%</p>
  </div>
  <div class="analitycs_block_number">
    <p>2078</p>
  </div>
</div>

<div class="analitycs_block">
  <div class="analitycs_block_image">
    <img [src]="" />
  </div>
  <div class="analitycs_block_text">
    <div class="analitycs_block_text_name">
      <p>Online Orders</p>
    </div>
    <div class="analitycs_block_text_time">
      <p>Last 24 Hours</p>
    </div>
  </div>
  <div class="analitycs_block_percent">
    <p>+21%</p>
  </div>
  <div class="analitycs_block_number">
    <p>2078</p>
  </div>
</div>
