<app-ledbar class="desktop-ledbar"></app-ledbar>

<div class="brightmoon">
  <app-mobilenav></app-mobilenav>
  <div class="brightmoon_container">
    <app-navbar class="brightmoon_nav"></app-navbar>
    <div class="settings-base">
      <div class="brightmoon_container_base_title settings-title">
        <h1 class="brightmoon_container_base_title_text">SETTINGS</h1>
      </div>
      <div class="settings-container">
        <div class="settings-container-content">
          <button class="brightmoon_button">
            Zmień Email
          </button>
          <button class="brightmoon_button">
            Zmień Hasło
          </button>
          <button class="brightmoon_button">
            Zmień Zdjęcie
          </button>
          <button class="brightmoon_button" (click)="logout()">
            Wyloguj się
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
